body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #cde0f0;
}

.hide {
    display: none;
}

#board {
    position: relative;
    transform: translate(63%, 45%) rotate(-25deg) skew(45deg);
    width: 500px;
    height: 400px;
    display: inline-flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

#game-field {
    position: absolute;
    transform: translate(0%, 196px);
    width: 870px;
    height: 354px;
    display: inline-flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    z-index: 10;
}

.pos {
    display: flexbox;
    width: 150px;
    height: 100px;
    /* outline: 1px solid brown; */
    /* border-radius: 30px; */
    /* margin: 4px; */
}

/* textures layer ------------------------------ */

.pixel {
    position: absolute;
}

.sprite-container {
    width: 32px;
    height: 32px;
    overflow: hidden;
    transform: scale(6);
}

.sprite-container2 {
    width: 16px;
    height: 16px;
    overflow: hidden;
    transform: scale(10);
}

.sprite, .unit-sprites {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated; 
}

.unit-sprites {
    width: 256px;
    height: 448px;
}

.terrain-sprites {
    width: 320px;
    height: 320px;
}

.terrain {
    background-image: url('FullTileset.png'); 
    background-position: -16px -0px;
}

.hero {
    background-image: url('LanceKnight_Blue.png'); 
    background-position: -0px -0px;
}
.hero-die {
    background-image: url('LanceKnight_Blue.png'); 
    background-position: -32px -256px;
}

.enemy {
    background-image: url('LanceKnight_Red.png'); 
    /* background-position: -32px -256px; */
    background-position: -0px -320px;
}

.pos-hero1 {
    top: 115px;
    left: 110px;
}
.pos-hero2 {
    top: 60px;
    left: 230px;

}
.pos-hero3 {
    top: 5px;
    left: 345px;

}
.pos-hero4 {
    top: 180px;
    left: 220px;
}
.pos-hero5 {
    top: 125px;
    left: 340px;
}
.pos-hero6 {
    top: 70px;
    left: 460px;
}

.pos-enemy1 {
    top: 260px;
    left: 495px;
}
.pos-enemy2 {
    top: 205px;
    left: 615px;
}
.pos-enemy3 {
    top: 150px;
    left: 735px;
}
.pos-enemy4 {
    top: 115px;
    left: 110px;
}
.pos-enemy5 {
    top: 115px;
    left: 110px;
}
.pos-enemy6 {
    top: 115px;
    left: 110px;
}