body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
}

.hide {
    display: none;
}

#game-container {
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 725px;
    height: 550px;
    border: 1px solid black;
    border-radius: 4px;
}

/*  units ------------------------------------------------------------------*/

#game-field {
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
}

.sprite {
    position: absolute;
    width: 32px;
    height: 32px;
    transform: scale(4);
    z-index: 10;
}
 
.hero { 
    background-image: url('LanceKnight_Blue.png'); 
    background-position: -0px -160px;
}

.enemy {
    background-image: url('LanceKnight_Red.png'); 
    background-position: -0px -160px;
    transform: scale3d(-4, 4, 1);    
}

.selected {
    background-position: -0px -32px;
    /* border: 1px solid white; */
}

.idle0 {background-position: -0px -0px;}
.idle1 {background-position: -32px -0px;}
.idle2 {background-position: -64px -0px;}
.idle3 {background-position: -96px -0px;}

.attack0 {background-position: -0px -64px;}
.attack1 {background-position: -32px -64px;}
.attack2 {background-position: -64px -64px;}
.attack3 {background-position: -96px -64px;}

.hitted { background-position: -0px -96px; }

.unit-text {
    position: absolute;
    color: aliceblue;
    font-size: 10px;
    left: -5px;
    top: 0px;
}

.enemy .unit-text {
    transform: scale3d(-1, 1, 1); 
}

/*  terrain ------------------------------------------------------------------- */

.terrain-sprite {
    position: relative;
    height: 32px;
    transform: scale(1.4);
    background-size: 794px 1344px;
    background-image: url('grassland_tiles.png'); 
}

#game-board1,
#game-board2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(15, 50px);
    gap: 0px;
    width: 500px;
}
#game-board2 {
    left: -24px;
    top: -32px;
    margin-top: 6px;
}

/* stats info ------------------------- */

#object-info {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 550px;
    height: 350px;
    background: #fff;
    border: 1px solid black;
    border-radius: 6px;
    display: none;
}

.information {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}