body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
}

.hide {
    display: none;
}

#game-container {
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 725px;
    height: 550px;
    border: 1px solid black;
}






#game-field {
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
}

.sprite {
    position: absolute;
    width: 32px;
    height: 32px;
    transform: scale(3);
    z-index: 10;
}
 
.hero { 
    background-image: url('LanceKnight_Blue.png'); 
    /* border: 1px solid white; */
}

.enemy {
    background-image: url('LanceKnight_Red.png'); 
    background-position: -32px -160px;
}

.selected {
    border: 1px solid white;
}

.idle0 {background-position: -0px -0px;}
.idle1 {background-position: -32px -0px;}
.idle2 {background-position: -64px -0px;}
.idle3 {background-position: -96px -0px;}

.pos-hero1 { top: 150px; left: 100px; }
.pos-hero2 { top: 150px; left: 200px; }
.pos-hero3 { top: 150px; left: 300px; }
.pos-hero4 { top: 250px; left: 100px; }
.pos-hero5 { top: 250px; left: 200px; }
.pos-hero6 { top: 250px; left: 300px; }
.pos-hero7 { top: 350px; left: 100px; }
.pos-hero8 { top: 350px; left: 200px; }
.pos-hero9 { top: 350px; left: 300px; }

.pos-enemy1 { top: 250px; left: 550px; transform: scale(8);}







.terrain-sprite {
    position: relative;
    height: 32px;
    transform: scale(1.4);
    background-size: 794px 1344px;
    background-image: url('grassland_tiles.png'); 
}

#game-board1,
#game-board2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(15, 50px);
    gap: 0px;
    width: 500px;
}
#game-board2 {
    left: -24px;
    top: -32px;
    margin-top: 6px;
}
